version: "3.9"

services:
  jupyter:
    image: bigdata-jupyter-step1
    build:
      context: ./jupyter
      dockerfile: Dockerfile
    container_name: jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./jupyter:/home/jovyan/work
    environment:
      JUPYTER_ENABLE_LAB: "yes"
